# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile
!LICENSE

# Unignore all dirs
!*/
deploy/elasticsearch/data
deploy/log/api/*
deploy/log/rpc/*

# ignore
**/.idea
**/.vscode
**/.DS_Store
**/logs
**/adhoc
**/coverage.txt

# for test purpose
go.work
go.work.sum

# gitlab ci
.cache
.golangci.yml

# vim auto backup file
*~
!OWNERS

# app
app/rpc/etc/config.local.yaml
app/api/etc/config.local.yaml
app/admin/etc/config.local.yaml